<div class="container">
  <!-- Text Section -->
  <div class="text mt-3 about-us">
    <h2 class="text-center">The Importance of Adopting a Pet: An Act of Love and Responsibility</h2>

    <p>Animals have an unparalleled ability to touch human hearts. From the wagging tail of a dog to the gentle purring of a cat, these creatures offer more than just companionship; they teach us about love, patience, and understanding. Many animals in shelters have endured hardships and are looking for a second chance at happiness. By adopting, not only do we offer them this chance, but we also receive an outpouring of unconditional love in return.</p>

    <p>The process of adoption is a transformative journey. It involves understanding an animal's past, building trust, and forging a bond that stands the test of time. Every pet has a unique story, and by adopting, we become an integral part of their new chapter filled with hope, warmth, and love.</p>

    <p>A step filled with rewards for both the adopter and the pet seeking a home. This choice goes beyond just gaining a furry companion; it's a deep, emotional commitment with countless benefits.</p>

    <p>Adopting a pet offers them a new lease on life, especially those from shelters that have faced neglect or abandonment. It not only provides a fresh start for these animals but also frees up space for other rescues. A pet's presence can alleviate stress and loneliness, enhancing emotional well-being. Their unconditional love and genuine bond bring immeasurable joy and therapeutic moments.</p>

    <p>However, adoption also entails significant responsibilities, like continuous care, feeding, and regular vet visits. It's a decision that demands maturity and dedication, ensuring a fulfilling experience for both the pet and owner. In essence, pet adoption is an act of love, compassion, and responsibility, transforming lives and strengthening societal empathy. So, if you're considering adding a family member, think adoption first, and prepare for a journey filled with joy and connection.</p>

    <p>Driven by our profound love for animals and recognizing the challenges they face, we decided to take a pivotal step forward with Adoptme. Our platform is designed for individuals to not only adopt deserving pets but also post their own pets up for adoption, ensuring they find loving homes. Our mission with Adoptme is to bridge the gap between pets in need and caring families. We envision a community where every pet has a loving home, and every home experiences the unparalleled joy a pet brings. Through Adoptme, we aim to change the narrative of pet adoption, making it a mainstream choice for families and individuals alike. We invite you to be a part of this heartwarming journey with Adoptme, making a difference one pet at a time.</p>
  </div>

  <!-- Programmers' Pictures Section -->
  <div class="programmers-pictures mt-5 text-center">
    <h4>Our Development Team</h4>

    <div class="row mt-3">
      <div class="col-md-3">
        <%= image_tag "Will.jpg", alt: "Will", class: "img-fluid programmer-img" %>
        <p>William</p>
      </div>
      <div class="col-md-3">
        <%= image_tag "Filipe.jpg", alt: "Filipe", class: "img-fluid programmer-img" %>
        <p>Filipe</p>
      </div>
      <div class="col-md-3">
        <%= image_tag "Pedro.jpg", alt: "Pedro", class: "img-fluid programmer-img" %>
        <p>Pedro</p>
      </div>
      <div class="col-md-3">
        <%= image_tag "Luis.jpg", alt: "Luis", class: "img-fluid programmer-img" %>
        <p>Luis</p>
      </div>
    </div>
    <div class='team'>
      <p>In the bustling metropolis of São Paulo, where the rhythm of life reverberates with vibrant energy, we, a group of four individuals, converged on a shared path, setting the foundation for what would become a formidable development team. The setting? LeWagon Bootcamp, a renowned programming bootcamp known for nurturing some of the brightest minds in tech.</p>

      <p>Our journey began as participants in this bootcamp. As the days progressed, the synergy between us grew evident. Will and Filipe, with their sharp instincts for frontend development, showcased their prowess in creating interfaces that were not only functional but visually captivating. On the other hand, Luis and Pedro, with their backend expertise, ensured that databases were meticulously designed, servers efficiently set up, and data flowed seamlessly, forming the backbone of our projects.</p>

      <p>Our collaboration transcended the confines of the bootcamp. Driven by a shared vision, we embarked on our next big venture: Genix. Envisioned as a social platform for programmers, Genix is more than just another website. It represents a community, a nexus for sharing, learning, and evolving in the tech realm.</p>

      <p>We are buoyant about the future of Genix and hope that our initiative will resonate with fellow developers. With each of our unique strengths and a shared purpose, we are confident that Genix has all the makings of the next big name in the programming world. And as we often emphasize, "It's not just about the code, it's about the community." Through Genix, we aspire to cultivate a sense of belonging and champion the spirit of collective learning.</p>
    </div>
  </div>

  <!-- Group Picture Section -->
  <div class="group-picture mt-5 text-center">
    <h4>Group Snapshot</h4>

    <div class="mt-3">
      <%= image_tag "Group.jpg", alt: "Developer Group", class: "img-fluid group-img" %>
    </div>
  </div>
</div>
