
  <H2>
   <%= pet.name %>
  </H2>

  <p>
    <strong>Birthday:</strong>
    <%= pet.birthday.strftime("%B %d, %Y") %>
    (<%= pet.age %> years old)
  </p>

  <p>
    <strong>Description:</strong>
    <%= pet.description %>
  </p>

    <p>
    <strong>Category:</strong>
    <%= pet.category %>
  </p>

    <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>
  <div class="card-img d-flex justify-content-center mb-4">
    <% if pet.photo.attached? %>
      <%= cl_image_tag pet.photo.key, height: 400, width: 500,   crop: :fill %>
    <% end %>
  </div>
