
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= pet.birthday %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pet.description %>
  </p>

    <p>
    <strong>Category:</strong>
    <%= pet.category %>
  </p>

    <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>


