<div class="container mt-5">
  <div class="d-flex justify-content-center m-5">
    <div class="card" style="box-shadow: 2px 4px 4px rgba(0, 0, 2, 0.1); width: 42rem;">
      <div class="card-body mb-4">
        <%= render @pet %>
        <div class="d-flex justify-content-between mb-3">
          <%= link_to "Edit this pet", edit_pet_path(@pet), class: "btn btn-primary" if @pet.seller == current_user %>
          <%= link_to "Back to pets", pets_path, class: "btn btn-success" %>
          <% if @pet.seller == current_user %>
            <%= button_to "Destroy this pet", @pet, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
          <% else %>
            <% if @adoptions_count.positive? %>
              <p>You already submitted an adoption request</p>
            <% else %>
              <%= simple_form_for [@pet, @adoption] do |f| %>
                <%= f.submit "Adopt", class: "btn btn-success" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <% if @pet.seller == current_user %>
    <p>Adoption Request(s):</p>
        <% if @adoptions_approved.positive? %>
          <p>This pet has been adopted!</p>
        <% else %>
          <% @adoptions_users.each do |adoption| %>
            <li>
              <%= link_to adoption.owner.first_name, profile_path(adoption.owner), class: "btn btn-outline-dark" %>
              <%= link_to "Approve?", adoption_path(adoption), data: {turbo_method: :patch}, class: "btn btn-success" %>
            </li>
          <% end %>
      <% end %>
  <% end %>
</div>
