<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-4">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex width-250" do %>
      <i class="otter-logo fa-solid fa-otter" style="color: #ffffff;"></i>
      <h2 class="logo-text ">Adopt-me</h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home",  root_path, class: "nav-link gray-text" %>
          </li>
          <li class="nav-item ">
            <%= link_to "Adopt-me", pets_path, class: "nav-link gray-text" %>
          </li>
             <li class="nav-item active">
            <%= link_to "About us",  aboutus_path, class: "nav-link gray-text" %>
          </li>

        <% else %>

          <li class="nav-item active">
            <%= link_to "Home",  root_path, class: "nav-link gray-text" %>
          </li>
          <li class="nav-item ">
            <%= link_to "Adopt-me", pets_path, class: "nav-link gray-text" %>
          </li>
             <li class="nav-item active">
            <%= link_to "About us",  aboutus_path, class: "nav-link gray-text" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

    <div class="collapse navbar-collapse width-250" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto w-100  d-flex justify-content-end mr-30px">
        <% if user_signed_in? %>

          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.key? %>
              <%= cl_image_tag current_user.photo.key , class: "avatar", alt: "dropdown menu", width: 40, height: 40 %>
            <% else %>
              <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541", class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit",edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
        <div class="navbar-links-box">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link gray-text" %>
          </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
