
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1>Last updates</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

</div>

<div class="container py-5">

  <div class="text-center text-black">
    <h3 class="mb-0">News Post</h3>
    <%= link_to "Go to the newest pets", pets_path %>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

    </div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "transferir (1).jpeg", alt: "1 ", class: "d-block w-30" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "transferir (2).jpeg", alt: "2 ", class: "d-block w-50" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "apw6wwjf6kewb2j6q4458hfm3", alt: "3 ", class: "d-block w-50" %>
    </div>
  </div>

  </div>
</div>

<div class="container py-5">
  <div class="text-center text-black">
    <h3 class="mb-0">Most favorited</h3>
    <%= link_to "See the most pet favorited", pets_path %>

  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag class:"transferir (1).jpeg", alt: "firts-photo ", class: "d-block w-30 " %>
    </div>
    <div class="carousel-item">
      <%= image_tag "transferir (2).jpeg", alt: "second-photo", class: "d-block w-50" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "apw6wwjf6kewb2j6q4458hfm3", alt: "3-photo", class: "d-block w-50" %>
    </div>
  </div>


  </div>
</div>

<div class="container py-5">
  <div class="text-center text-black">
    <h3 class="mb-0">The Oldest Post</h3>
    <%= link_to "Go to the Oldest post pets", pets_path %>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "transferir (1).jpeg", alt: "1 ", class: "d-block w-30" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "transferir (2).jpeg", alt: "2 ", class: "d-block w-50" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "apw6wwjf6kewb2j6q4458hfm3", alt: "3", class: "d-block w-50" %>
    </div>
  </div>


  </div>
</div>

<div class="container py-5">
  <div class="text-center text-black">
    <h3 class="mb-0">Last adopted</h3>
    <%= link_to "Go to new adoption to pets", pets_path %>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "transferir (1).jpeg", alt: "1 ", class: "d-block w-30 " %>
    </div>
    <div class="carousel-item">
      <%= image_tag "transferir (2).jpeg", alt: "2", class: "d-block w-50" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "apw6wwjf6kewb2j6q4458hfm3", alt: "3 ", class: "d-block w-50" %>
    </div>
  </div>

</div>
